<mat-card class="card">
  <mat-card-content>
    <mat-card-title class="title">
      Novo Produto
    </mat-card-title>
    <form [formGroup]="productForm">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="product.name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="price">
        <input matInput type="number" [(ngModel)]="product.price" formControlName="price" min="0" placeholder="0.00">
        <span matTextPrefix>R$&nbsp;</span>
      </mat-form-field>
    </form>
    <div class="action j-start">
      <button mat-raised-button color="primary" (click)="createProduct()" [disabled]="!productForm.valid">
        Salvar
      </button>
      <button mat-button color="primary" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </mat-card-content>
</mat-card>

